@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul,ol{ list-style:none}
a{ text-decoration:none}
img{ border:none}
body{ font-family:"microsoft Yahei","simsun","黑体"; font-size:12px; background-color:#FFF}

/*-----------------------------------布局----------------------------------------*/
.top{ height:90px;}
.account{ height:200px; background:url(../image/banner-acc.jpg)}
.article{ height:580px; margin-bottom:120px; margin-top:-50px}
.foot{ height:150px; background-color:#666}
/*-----------------------------------确定中间位置----------------------------------------*/
.container{ width:1000px; margin:0 auto}
.top .container{ height:90px;}
.account .container{ height:200px;}
.article .container{ height:580px; background-color:#FFF}
.foot .container{ height:150px;}
/*-----------------------------------确定article位置----------------------------------------*/
.bread{ height:49px; border-bottom:1px solid #eaeaea}
.aside{ width:248px; height:100%; float:left; border-right:1px solid #eaeaea}
.middle{ width:749px; height:100%; float:right; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea}
/*-----------------------------------确定middle位置----------------------------------------*/
/*-----------------------------------top----------------------------------------*/
.container .image{ float:left; margin-top:15px; margin-left:25px}
.container .acc-two{ float:right; border-right:1px dashed #eaeaea}
.container .acc-two li{ float:left; width:130px; height:90px; border-left:1px dashed #eaeaea; text-align:center; font-size:18px; color:#565656}
.container .acc-two a{ display:block; height:60px; padding-top:27px; color:#999}
.container .acc-two em{ display:block; font-style:normal; font-size:9px;}

.container .acc-two li a:hover,.active{ border-bottom:3px solid #039; color:#00C}

/*-----------------------------------account----------------------------------------*/

 .account{ background:url(../image/banner-acc.jpg)}
 .account h2{ font-size:20px; color:#333; text-align:center; padding-top:45px}
  .account h2 .zhang{ display:block; color:#333; margin-top:5px; font-weight:300; font-size:12px;}
  
  
  /*-----------------------------------bread----------------------------------------*/
  
  .manage .bread{ color:#767676}
  .manage{ float:left; margin-left:20px;}
  .manage .le{ background:url(../image/leyou.png) no-repeat 5px 15px}
  .manage li{ float:left; width:100px; text-align:center; height:50px; line-height:50px}
 .manage li a{ display:block; color:#b3b3b3}
 .manage li a:hover{ color:#24c3fa;}
  .more{ float:right; }
  .more li{ float:left; width:120px; text-align:center; height:50px; line-height:50px; border-left:1px dashed #eaeaea}
   .more li a{ color:#b3b3b3; display:block; }
 .more li a:hover, .so{ background-color:#25c4fb; color:#FFF}
 .more li .so{ color:#fff}
 
   /*----------------------------------aside----------------------------------------*/
   .aside ul{ margin-left:35px; margin-top:50px; font-size:12px;}
.aside ul li{ margin-top:10px}
.aside ul li ul{ margin-top:25px}
.aside ul li a{ color:#999}
.aside{ border-left:1px solid #eaeaea; border-bottom:1px solid #eaeaea}
.aside a:hover{ text-decoration:underline; color:#3FC}
.bread span{ float:left}
.aside h1{ float:right; width:}
.aside ul .man a{ color:#3FC}
.aside .acc{ font-size:16px; font-weight:300; color:#515151}

   /*-----------------------------------middle----------------------------------------*/
.middle form{ margin-top:80px; margin-left:50px;}
.middle .we{ margin-top:30px; margin-left:40px;}
.middle  h2{ width:600px; border-bottom:1px solid #eaeaea; height:50px; font-weight:normal; font-size:20px; color:#4e4e4e}
.middle .bind{ width:200px; height:30px; color:#999; margin-top:50px}
.middle .km{ margin-left:320px; margin-top:30px}
.middle .km p{ margin-top:10px; font-size:12px; color:#999}
label{ font-size:16px; color:#999}
.bn{ width:100px; height:30px; margin-top:25px; margin-left:120px; background-color:#00a6e2; color:#FFF; border:none;}
.bin{ width:200px; height:30px}
   /*-----------------------------------foot----------------------------------------*/
   .container .pic{ float:left; margin-left:30px; margin-top:20px}
.container .footer{ float:left; margin-left:60px; margin-top:20px}
.container a{ color:#CCC}
 .container .footer p{color:#6c7a83}  
 
 .container .footer p a{color:#6c7a83}
 
 
 
 
 
 
 
 
 