@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul,ol{ list-style:none}
a{ text-decoration:none}
img{ border:none}
body{ font-family:"microsoft yahei","simsun","黑体"; font-size:14px; background-color:#FFF}

/*-----------------------------------布局----------------------------------------*/
.top{ height:90px;}
.account{ height:200px; background:url(../image/banner-acc.jpg)}
.article{ height:580px; margin-bottom:120px; margin-top:-50px}
.foot{ height:150px; background-color:#666}
/*-----------------------------------确定中间位置----------------------------------------*/
.container{ width:1000px; margin:0 auto}
.top .container{ height:90px;}
.account .container{ height:200px;}
.article .container{ height:580px; background-color:#FFF}
.foot .container{ height:150px;}
/*-----------------------------------确定article位置----------------------------------------*/
.bread{ height:50px; border-bottom:1px solid #eaeaea}
.aside{ width:248px; height:100%; float:left; border-right:1px solid #eaeaea;}
.middle{ width:749px; height:100%; float:right; border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea;}
/*-----------------------------------确定middle位置----------------------------------------*/
/*-----------------------------------top----------------------------------------*/
.container .image{ float:left; margin-top:15px; margin-left:25px}
.container .acc-two{ float:right; border-right:1px dashed #eaeaea}
.container .acc-two li{ float:left; width:130px; height:90px; border-left:1px dashed #eaeaea; text-align:center; font-size:18px;}
.container .acc-two a{ display:block; height:60px; padding-top:27px; color:#565656; font-size:18px;}
.container .acc-two em{ display:block; font-style:normal; font-size:9px;}

.container .acc-two li a:hover,.active{ border-bottom:3px solid #039; color:#00C}

/*-----------------------------------account----------------------------------------*/

 .account{ background:url(../image/banner-acc.jpg)}
  h2{ font-size:20px; color:#003; text-align:center; padding-top:45px}
  .account h2 .zhang{ display:block; color:#CCC; margin-top:5px}
  
  
  /*-----------------------------------bread----------------------------------------*/
  
  
  .manage{ float:left}
  .manage .le{ background:url(../image/leyou.png) no-repeat 2px 12px}
  .manage li{ float:left; width:100px; text-align:center; height:50px; line-height:50px;}
 .manage li a{ display:block; color:#b3b3b3}
 .manage li a:hover{ color:#24c3fa;}
  .more{ float:right; }
  .more li{ float:left; width:120px; text-align:center; height:50px; line-height:50px; border-left:1px dashed #eaeaea}
   .more li a{ color:#b3b3b3; display:block; }
 .more li a:hover, .activ{ background-color:#25c4fb; color:#FFF; text-decoration:none}
 
 
   /*-----------------------------------bread----------------------------------------*/
   .aside ul{ margin-left:35px; margin-top:50px; font-size:14px;}
.aside ul li{ margin-top:10px}
.aside ul li ul{ margin-top:25px}
.aside ul li a{ color:#999}
.aside{ border-left:1px solid #eaeaea; border-bottom:1px solid #eaeaea}
.aside a:hover{ color:#3FC; text-decoration:underline;}
.bread span{ float:left}
h1{ float:right; width:}

.aside .mo a{ color:#3FC}

   /*----------------------------------middle---------------------------------------*/
 
.logo em{ color:#F00}
 
.middle form .pic4, .mm{ float:left}
.middle form .pic4{ margin-left:20px; margin-top:20px; height:40px;}
.middle form .mm{ margin-left:30px; margin-top:40px;  }
h1{ color:#999; width:500px; border-bottom:1px solid #eaeaea; height:50px;}
.ff{ margin-top:100px}
.middle .po{ margin-top:20px;}
 label{ font-size:16px; color:#CCC;  margin-bottom:20px; text-align:left;}
 input{ background-color:#FFF; width:200px; height:30px; line-height:30px; margin-top:20px; margin-left:20xp}
  #sub{ margin-left:120px; background:#00a6e2; border:none; font-weight:500px} 
  .biaoqian{ padding-left:20px} 
  p label{ width:120px; height:20px; text-align:right}
 .biaoqian{ padding-left:10px}
 .ss{ display:inline-block; text-align:right;}  
.ff em{ color:#F00}   
  
   
 
   
   
   
   
   /*-----------------------------------foot----------------------------------------*/
  .container .tr{ float:left; margin-left:30px; margin-top:20px}
.container .footer{ float:right; margin-left:60px; margin-top:20px}
.container a{ color:#CCC}
 .container .footer p{ color:#CCC}  